.nav-bar {
  height: 100px;
}

header > nav {
  width: 100%;
  background: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > nav > ul {
  position: absolute;
  display: none;
  top: 100px;
  right: 0;
  list-style: none;
  width: 200px;
  background: #fff;
}

header > nav > figure {
  background: #fff;
}

header > nav > ul > li {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  height: 100%;
}
